@media screen and (max-width: 838px){
    .nav-list{
        display: none;
    }

    .menu-mobile{
        display: block;
        margin-right: 20px;
    }

    
}

@media screen and (max-width: 682px) {
    .container-principal-site h1{
        font-size: 7em;
    }

    .container-principal-site p{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 495px){
    .container-principal-site p{
        font-size: 0.8em;
    }
}

@media screen and (max-width:395px){
    .container-principal-site h1{
        font-size: 5.5em;
    }
}

@media screen and (max-width: 367px){
    .container-principal-site p{
        font-size: 0.6em;
    }
}